@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}


.navbar{
  background-color: #fff;
  height: 100px;
}

.navbar ul li a{
    color: #2e2e2e;
    font: 18px/20px "Open Sans", Arial, Georgia, sans-serif;
    padding: 0px 0px 0px;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

.navbar ul li{
    margin-right: 30px;
}

.active{
    color:#83d16b !important;
}

.location-part{
    background-image: url('../src/images/bg4.png');
    width: 100%;

}

.location-part{
    padding: 60px 0px;
}

.input-group-text{
    background-color: transparent !important;
}

.add-content{
    margin-left: 20px;
}

.search-loaction input{
   height: 60px;
   background-color: transparent;
   border-radius: 0px;
}
.input-group-text{
   border-radius: 0px;
}
.search-loaction input:focus{
    box-shadow: none;
}
.weather-day{
    background-image: url('../src/images/bg_pic1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    width: 100%;
    padding-bottom: 80px;
}

.rain-part{
    padding: 50px;
    background-color: #2e2e2e86;
    color:#fff;
}

.day-count{
    padding: 50px;
    background-color: #2e2e2ec2;
    color:#fff;
    height: 100%;
}

.city h2{
    font-size: 30px;
}

footer{
    background-image: url('../src/images/bg4.png');
    padding: 60px 0px;
}

.input-group-text{
  cursor: pointer;
}